<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gallery</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    html{
            background-color: lavenderblush;
    }
</style>
<body>
    <div class="wishList">
        <h1>Wishes</h1><br>
         <hr> <br>
            <% item.forEach(function(element) { %>
                <div>
                    <li><%= element.wish %></li>
                </div>
            <% }) %>
    </div>
</body>
</html>